* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .sectionContact{
    background: linear-gradient(green,black);
    height: 100%;
    width: 100%;
    padding-top: 70px;
  }  
  .pictoLettre{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.lettre{
    width: 150px;
}
  .titrePage {
    text-align: center;
    font-family: "Roboto", cursive;
    color: white;
    font-size: 30px;    
  }

  .introContact{
    width: 100%;
    text-align: center;
  }

  .paragrapheContact {
    font-family: "Manrope", sans-serif;
    font-weight:200;
    color: white;
    padding: 2px 50px;
    font-size: 18px;
    margin-bottom: 12px;
  }

.containerForm { 
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}
.inputsName{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 67%;
}
.inputName {
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 15px;
  width:40%;
  height:50px;
  padding-left:15px;
  font-size:20px;
  margin:20px auto; 
}
.inputName::placeholder{
  font-family: "Manrope", sans-serif;
    font-weight:500;
}

.inputFirstName{
width:40%;
height:50px;
padding-left:15px;
font-size:20px;
margin:20px auto;
}
.inputFirstName::placeholder{
  font-family: "Manrope", sans-serif;
    font-weight:500;
}

  .Form {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      width: 100%;
  }

  /* .paraphForm {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;  
  }
   */
  
.inputEmail{
  width:60%;
  height:50px;
  padding-left:15px;
  font-size:20px;
  margin:20px auto;
}
.inputEmail::placeholder{
  font-family: "Manrope", sans-serif;
    font-weight:500;
}
.inputMessage{
  width:60%;
  height:400px;
  padding-left:15px;
  font-size:20px;
  padding-top:15px;
  margin: 20px auto;
}
.inputMessage::placeholder{
  font-family: "Manrope", sans-serif;
    font-weight:500;
}
  .envoyer{
      /* border-radius: 30px; */
      background-color: green;
      border: none;
      font-size: 25px;
      padding: 15px;
      color: white;
      width: 250px;
  }
  .envoyer:hover {
    background-color: rgb(102, 255,0);
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: scale(1.1);
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {

    .lettre{
      width: 120px;
  }

    .titrePage {
      text-align: center;
      color: white;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .introContact{
      width: 100%;
      text-align: left;
      padding-left: 5%;
      padding-right: 5%;        
    }
    .paragrapheContact {
      
      font-size: 15px;
      margin-bottom: 0px;
    }
    .inputsName{
      display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin-bottom: 10px;
  }
    .inputName {
    margin: 0px;      
    padding-left: 15px;
    width:45%;
    height:50px;
    padding-left:15px;
    font-size:20px;
    
  }
  .inputFirstName{
    width:45%;
    height:50px;
    padding-left:15px;
    font-size:20px;
    margin:0px;
  }
  .inputEmail{
    width:80%;
    height:50px;
    padding-left:15px;
    font-size:20px;
    margin:10px auto;
  }
  .inputMessage{
    width:80%;
    height:300px;
    padding-left:15px;
    font-size:20px;
    padding-top:15px;
    margin: 10px auto;
  
  }
    .envoyer{
      border-radius: 0px;      
      margin-top: 20px;
      border: none;
      font-size: 15px;
      font-family: 'Manrope',sans-serif;
      font-weight: 200;
      padding: 10px;
      color: white;
      width: 150px;
  }
  
    }
  @media screen and (max-width: 670px) {
    .lettre{
      width: 80px;
  }
      .titrePage {
      text-align: center;
      color: white;
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .paragrapheContact {
      color: white;
      padding: 2px 50px;
      font-size: 15px;
      margin-bottom: 0px;
    }
    .inputsName{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .inputName {
    margin-top: 0px;      
    padding-left: 15px;
    width:80%;
    height:50px;
    padding-left:15px;
    font-size:15px;
    margin-bottom:10px; 
  }
  .inputFirstName{
    width:80%;
    height:50px;
    padding-left:15px;
    font-size:15px;
    margin:10px auto;
  }
  .inputEmail{
    width:80%;
    height:50px;
    padding-left:15px;
    font-size:15px;
    margin:10px auto;
  }
  .inputMessage{
    width:80%;
    height:300px;
    padding-left:15px;
    font-size:15px;
    padding-top:15px;
    margin: 10px auto;
  
  }
    .envoyer{
      
      border: none;
      font-size: 20px;
      padding: 10px;
      color: white;
      width: 200px;
  }
  
  }