.sectionFooter {  
  background-color: #000;
  /* height: 410px; */
  width: 100%;
}
.containerFooter {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
}

.divMilieu {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  align-items: center;
  justify-content: center;
}

.titreFooter {
  color: yellow;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  margin: auto auto;
}

/* .paraphFooter {
  color: #fff;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  margin-top: 5px;
} */
.paraphFooter2 {
  color: #fff;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  margin-top: 5px;
}
/* .dividerFooter {
  height: 100px;
  width: 1px;
  background-color: #fff;
} */
.paraphFooter:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.2);
}
.containerReseaux {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
  width: 100%;
  align-items: center;
}

.lk {
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
}
.lk:hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
  transform: scale(1.2);
}

.github {
  height: 40px;
  margin-right: 0px;
}
.github:hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
  transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerFooter {
    padding-top: 0px;  
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .sectionFooter {
    margin-top: 0px;    
    /* height: 280px; */
  }
  .containerFooter {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .titreFooter {
    font-size: 15px;
  }
  
  .paraphFooter2 {
    color: #fff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 8px auto;
  }
  .divMilieu {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
  }
}
